MONGODB_URI=
MONGO_DB=bands_hackathon_db

BAND_API_KEY=
BAND_REST_URL=https://app.band.ai/api/v1

FEATHERLESS_API_KEY=
AIMLAPI_KEY=

SUPERVISOR_AGENT_ID=
SUPERVISOR_AGENT_API_KEY=
SUPERVISOR_AGENT_HANDLE=@muhammadakbartr11/supervisor-agent

DOER_AGENT_ID=
DOER_AGENT_API_KEY=
DOER_AGENT_HANDLE=@muhammadakbartr11/doer-agent

TOOL_EXECUTOR_ID=
TOOL_EXECUTOR_API_KEY=
TOOL_EXECUTOR_HANDLE=@muhammadakbartr11/tool-executor-agent
